*{
    margin: 0;
    padding: 0;
}
#header {
    width: 100vw;
    height: 80px;
    background-color: crimson;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
}
#logo {
    width: 250px;
    padding: 20px;
    margin: 0 0 0 25px;
}
#footer {
    width: 100vw;
    height: 80px;
    background-color: crimson;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
}
#logo_footer {
    width: 250px;
    padding: 20px;
    margin: 0 0 0 25px;
}